.layout {
  background: #f4f3ee;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  align-items: center;
  padding: 2rem;
  margin: 5rem auto;
  width: 320px;
  height: 600px;
}
