<form method='POST' action='/notes/delete/confirm'>
    <input type='hidden' name='id' value='{{#if note}}{{id}}{{/if}}'>
    <p>Delete {{note.header}}?</p>
    <br/>
    <input type='submit' value='DELETE' /> 
    <a href="/notes/view?id={{#if note}}{{id}}{{/if}}">Cancel</a>
</form>